<div class="{{widthView(1)}}">
	<div class="row">
		<h5 class="{{widthView(1)}}">USER INFO</h5>
	</div>
	<hr>
	<div class="row">
		<div *ngIf="editMode; else infomode">
			<label for="name">User name: </label>
			<input type="name" [(ngModel)]="newName">			
		</div>
		<ng-template #infomode>
			<p>User name is {{user.username}}</p>
		</ng-template>
	</div>
	<div style="margin: 5%;"></div>
	<div class="row">
		<div *ngIf="editMode; else infomode2">
			<button type="button" class="btn btn-success" (click)="change()">
				Change it!
			</button>
			<span style="padding: 1%;"></span>
			<button class="btn btn-danger" (click)="sEditMode()">
				Abort
			</button>
		</div>
		<ng-template #infomode2>
			<button class="btn btn-success" (click)="sEditMode()">
				Edit
			</button>
		</ng-template>
	</div>
	<div style="margin: 5%;"></div>
	<div class="row">
		<button class="btn btn-info" (click)="nextUser()">
			Next User &rarr;
		</button>
	</div>
</div>
