<div class="col-xs-{{ncol}} col-sm-{{ncol}} col-md-{{ncol}} col-lg-{{ncol}}">
	<strong>Server Name</strong><br>
	<input [disabled]="edit" [(ngModel)]="serverName" type="text" name="servername" id="servername"><br><br>
	
	<button type="button" class="btn btn-info" (click)="updateServer()">{{edit?"Update Server":"Add Server"}}</button>
	<hr>
	<div *ngIf="server.name!=''; else sempty">
		<h5>Server <strong style="color:blue;">{{server.name}}</strong> selected</h5>
		<p>Server status is <span [ngStyle]='{color:server.online?"green":"red"}'
		>{{server.online?"online":"offline"}}
		</span></p>
	</div>
	<ng-template #sempty>
		<h5>
			No Server Selected
		</h5>
	</ng-template>
</div>