<form class="form-group container-fluid" [formGroup]='nomeForm' (ngSubmit)="submitta()">

	<br>

	<legend class="row">Registrazione</legend>

	<div formGroupName="anagrafica">
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<label for="" class="text-muted">Nome:</label>
			</div>
	
			<div class="col-xs-12 col-md-8">
				<input type="text" 
				class="form-control controlli-invalida-sinistra controlli-valida-sinistra"
				formControlName="nome">
			</div>

			<div class="col-xs-5 col-md-offset-3" *ngIf="nomeForm.get(['anagrafica','nome']).invalid&&nomeForm.get(['anagrafica','nome']).touched">
				<br>
				
				<p  class="box-allerta">
					Il campo nome non può essere vuoto.
				</p>
			</div>
		</div>
	
		<br>
	
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<label for="" class="text-muted">Email:</label>
			</div>
	
			<div class="col-xs-12 col-md-8">
				<input type="text" 
				class="form-control controlli-invalida-sinistra controlli-valida-sinistra"
				formControlName="email">
			</div>
			<div class="col-xs-5 col-md-offset-3" *ngIf="nomeForm.get(['anagrafica','email']).invalid&&nomeForm.get(['anagrafica','email']).touched">
				<br>
				<p class="box-allerta" *ngIf="nomeForm.get(['anagrafica','email']).errors['EmailInvalida']">
					Il campo email non &egrave; valido
				</p>
				<p class="box-allerta" *ngIf="nomeForm.get(['anagrafica','email']).errors['EmailVuota']">
					Il campo email non pu&ograve; essere vuoto
				</p>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="form-check" *ngFor="let tipo of tipiDiRegistrazione">
			<label class="form-check-label" [ngStyle]="{'color':nomeForm.get('tipo').valid?'':'red'}"> 
				<input type="radio" class="form-check-input" [value]="tipo" formControlName="tipo">
				{{tipo}}
			</label>
		</div>
	</div>

	<div class="row" formArrayName="listaSkill"> 
		<div style="padding: 3px;" *ngFor="let skill of getFormArray().controls; let indiceForm = index" >
			<input type="text" class="form-control" [formControlName]="indiceForm">
		</div>
	</div>

	<div class="row">
		<button class="col-xs-12 col-md-4 btn btn-info" type="button" (click)="addSkill()" [disabled]="nomeForm.get('listaSkill').invalid">
			Add Skill
		</button>
	</div>

	<hr>

	<button type="submit" class="btn btn-success" [disabled]="!nomeForm.valid">
		Submitta!
	</button>
</form>