<div class="container-fluid">
	
	<br>
	
	<form class="form-group" [formGroup]='registrazioneForm' (ngSubmit)="submitta()">

		<legend>Registrazione</legend>

		<div class="row">
			<div class="col-12">
				<input type="text" 
				class="form-control controlli-invalida-sinistra controlli-valida-sinistra"
				formControlName="nome">
			</div>
		</div>

		<br>

		<div class="row">
			<div class="form-check" *ngFor="let tipo of tipiDiRegistrazione">
				<label class="form-check-label" [ngStyle]="{'color':registrazioneForm.value['tipo']?'':'red'}"> 
					<input type="radio" class="form-check-input" [value]="tipo" formControlName="tipo">
					{{tipo}}
				</label>
			</div>
		</div>

		<hr>

		<button type="submit" class="btn btn-success">
			Submitta!
		</button>
	</form>
</div>