.ng-invalid.controlli-invalida-sinistra{
	border-left: 0.5vw red solid;
}

.ng-valid.controlli-valida-sinistra{
	border-left: 0.5vw green solid;
}

.ng-invalid.controlli-invalida{
	border: 0.1vw red solid;
}


.ng-valid.controlli-valida{
	border: 0.1vw green solid;
}

.box-allerta{
	background-color: darkslategray;
	border: black thin solid;
	border-left: red thick solid;
	color: lightgray;
	padding-left: 5%;
}